.dragBox {
  /* display: inline-block; */
  border: 1px solid transparent;
  box-sizing: content-box;
}

.dragBox:hover {
  border: 1px solid #06c;
}

.hover-handles .react-resizable-handle {
  display: none;
}

.hover-handles:hover .react-resizable-handle {
  display: block;
}
